<script src="https://unpkg.com/vue"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/element-ui/2.15.7/index.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/element-ui/2.15.7/theme-chalk/index.min.css" rel="stylesheet">

<link href="/static/styles.css" rel="stylesheet"/>

<div id="sly-app">
    <sly-app url="0.0.0.0:8080"
             :init-state="{ }">
        <template v-slot="{ state, command, http }">
            <!-- Header -->
            <div class="header" id="myHeader">
                <h1>Image Grid</h1>
                <p>Click on the buttons to change the grid view.</p>
                <button class="btn" onclick="one()">1</button>
                <button class="btn active" onclick="two()">2</button>
                <button class="btn" onclick="four()">4</button>
            </div>

            <!-- Photo Grid -->
            <div class="row">
                <div class="column">
                    <img src="/w3images/wedding.jpg" style="width:100%">
                    <img src="/w3images/rocks.jpg" style="width:100%">
                    <img src="/w3images/falls2.jpg" style="width:100%">
                    <img src="/w3images/paris.jpg" style="width:100%">
                    <img src="/w3images/nature.jpg" style="width:100%">
                    <img src="/w3images/mist.jpg" style="width:100%">
                    <img src="/w3images/paris.jpg" style="width:100%">
                </div>
                <div class="column">
                    <img src="/w3images/underwater.jpg" style="width:100%">
                    <img src="/w3images/ocean.jpg" style="width:100%">
                    <img src="/w3images/wedding.jpg" style="width:100%">
                    <img src="/w3images/mountainskies.jpg" style="width:100%">
                    <img src="/w3images/rocks.jpg" style="width:100%">
                    <img src="/w3images/underwater.jpg" style="width:100%">
                </div>
                <div class="column">
                    <img src="/w3images/wedding.jpg" style="width:100%">
                    <img src="/w3images/rocks.jpg" style="width:100%">
                    <img src="/w3images/falls2.jpg" style="width:100%">
                    <img src="/w3images/paris.jpg" style="width:100%">
                    <img src="/w3images/nature.jpg" style="width:100%">
                    <img src="/w3images/mist.jpg" style="width:100%">
                    <img src="/w3images/paris.jpg" style="width:100%">
                </div>
                <div class="column">
                    <img src="/w3images/underwater.jpg" style="width:100%">
                    <img src="/w3images/ocean.jpg" style="width:100%">
                    <img src="/w3images/wedding.jpg" style="width:100%">
                    <img src="/w3images/mountainskies.jpg" style="width:100%">
                    <img src="/w3images/rocks.jpg" style="width:100%">
                    <img src="/w3images/underwater.jpg" style="width:100%">
                </div>
            </div>
        </template>
    </sly-app>
</div>

<script src="/static/script.js"></script>

<!-- Lib -->
<script>
    Vue.component('sly-app', {
        props: ['url', 'initState'],
        template: '<div><slot :state="state" :command="command" :http="http" /></div>',
        data: function () {
            return {state: {}, ws: null};
        },
        methods: {
            command(command) {
                console.log('Command!', command);
                this.ws.send(JSON.stringify({state: this.state, command: command}));
            },
            http(command) {
                console.log('Http!', command);
                fetch(`http://${this.url}${command}`, {
                    method: 'POST', body: JSON.stringify(this.state), headers: {'Content-Type': 'application/json'}
                }).then(res => res.json()).then((json) => {
                    Object.assign(this.state, json);
                });
            },
        },
        created() {
            this.state = this.initState;
            this.ws = new WebSocket(`ws://${this.url}/ws`);
            this.ws.onmessage = (event) => {
                console.log('Message received from Python', event.data);
                Object.assign(this.state, JSON.parse(event.data));
            };
        },
    });

    new Vue({el: '#sly-app'});
    // Vue.use(Element);
</script>